<script>
/* eslint-disable */
  import axios from 'axios';
  export default {
    data() {
      return {
        contacts: [],
        errors: []
      }
    },
    created() {
      axios.get('http://localhost:3000/contacts')
        .then(response => {
          this.contacts = response.data;
        })
        .catch(e => {
          this.errors.push(e);
        })
    },
  };
</script>

<template>
  <div id="contacts">
    <div v-for="(contact, index) in contacts" :key="contact.id">
      <p>{{contact.name}} is my {{contact.relationship}}</p>
    </div>
  </div>
</template>
